html, body {
    width: 100%;
    height: 100%;
}

#intro-div {
    filter:grayscale(50%);
    background-image: url("../rcs/profile.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    min-height: 570px;    
}

#intro-text {
    font-family: 'Permanent Marker', cursive;
    color: #ffffff;
    position: relative;
    top: 400px;
    right: 250px;
}   

#profile-div, #work-div, #contact-div {
    margin-top: 30px;
    padding-bottom: 20px;
}

.photo {
    width: 100%;
    height: auto;
}

.bad-script {
    font-family: 'Bad Script', cursive;
}

.margin-top {
    margin-top: 30px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.header {
    font-family: 'Chewy', cursive;
    margin-bottom: 50px;
}

.work-row {
    min-height: 150px;
    margin-bottom: 30px;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 0 10px 0 10px;
}


